	div.brightkite-person-data {
		text-align: center;
		padding: 10px 0;
	}
		div.brightkite-person-data a:hover {
			text-decoration: none;
		}
			div.brightkite-person-data a:hover span {
				text-decoration: underline;
			}
	span.emoji {
		zoom: 0.6;
		position: relative;
		top: 2px;
	}

		#sidebar div.brightkite-person-data ul li:before {
			content: '';
		}
		#sidebar div.brightkite-person-data ul li {
			border-top: 1px solid #CCC;
			text-align: left;
		}
			#sidebar div.brightkite-person-data div.brightkite-object-image {
				float: right;
				padding: 6px 6px 6px 2px;
			}
			#sidebar div.brightkite-person-data ul li div.brightkite-location {
				text-align: center;
				padding: 4px 0 4px;
			}
				#sidebar div.brightkite-person-data ul li div a.brightkite-time-link {
					color: #999;
					text-decoration: none;
				}
					#sidebar div.brightkite-person-data ul li div a.brightkite-time-link:hover {
						text-decoration: underline;
					}
	.clear {
		float: none;
		clear: both;
	}
